body {
    font-family: arial, sans-serif;
}

#top_nav_links {
}

li {
	display: inline;
	padding-left: 15px;
	color: #00000;
}

#top_nav_links {
	float: right;
}

#word_links, #pic_links {
	display: inline-block;
}

.word_link {
	color: black;
}

#complete_google_search {
	text-align: center;
}

#google_logo, #search_box, #search_buttons {
	width: 50%;
	margin: 0 auto;
}

#search_box {
	border: 1px solid #d9d9d9;
	width: 428px;
	height: 44px;
	background-image: url(images/mic.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 9%;
}


input {
	border: none;
	outline: none;
	width: 90%;
	height: 90%;
	float: left;
    padding-top: 1.2px;
	padding-left: 12px;
	font-size: 1.2em;
}

#input_box {
	display: inline;
}

#search_buttons {
	padding-top: 15px;
}

button {
	padding: 15px;
	background-color: #f2f2f2;
    border: none;
    font-weight: bold;
    color: #757575;
}

button:hover {
    border: 1px solid #d9d9d9;
    color: #222;
}
/*

input[type=text] {
	width: 70%;
	height: 10%;
}

#little_mic {
	/*display: inline;
	width: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    font-family: arial, sans-serif;
    text-decoration: none;
    color: #000;
}

}

li a {
    text-align: center;
    padding: 14px 16px;

}*/